*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  margin-bottom: 0 !important;
}

// ::selection {
//   background: $color-selection; /* WebKit/Blink Browsers */
// }
// ::-moz-selection {
//   background: $color-selection; /* Gecko Browsers */
// }

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
